Shared/ExportSchema.xsd

<?xml version="1.0" encoding="UTF−8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="auction" type="auctionType"/>
  
  <xs:complexType name="bidsType">
    <xs:sequence>
      <xs:element type="bidType" name="bid" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="num"/>
  </xs:complexType>
  
  <xs:complexType name="infoType">
    <xs:sequence>
      <xs:element type="xs:string" name="minimumBid"/>
      <xs:element type="xs:string" name="reservationPrice"/>
      <xs:element type="xs:string" name="initialDate"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="auctionType">
    <xs:sequence>
      <xs:element type="infoType" name="info"/>
      <xs:element type="bidsType" name="bids"/>
    </xs:sequence>
    <xs:attribute type="xs:ID" name="id" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="bidType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="userid" use="required"/>
        <xs:attribute type="xs:string" name="datetime" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
